.pokemon-card {
  cursor: pointer;
  flex-direction: column;
  display: flex;
  border-radius: 5%;
  text-align: center;
  width: 150px;
  padding: 2px;
  transition: 0.5s;
}

.pokemon-card:hover {
  scale: 1.1;
}

.pokemon-id {
  align-self: center;
  background-color: rgba(0, 0, 0, 0.212);
  border-radius: 50%;
  font-size: 1em;
  padding: 5px 10px;
  color: rgb(218, 218, 218);
}

h3 {
  color: white;
}
