body {
  background-image: url("./images/background.webp");
  background-attachment: fixed;
}

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.logo {
  align-items: start;
  justify-content: center;
  width: 100%;
  height: auto;
  scale: 0.6;
}
